#tablaclte{
    margin: 150px auto;
    width: 400px;
}
.container{
    margin: 150px auto;
    width: 400px;
}
thead{
    background-color: blue;
}

table{
    background-color: blue;
    text-align: left;
    border-collapse: collapse;
    width: 100px;
}

thead{
    background-color: #246355;
    border-bottom: solid 5px #013327;
    color: white;
}
th:nth-child(even){
    background-color: #ddd;
}
tr:hover td{
    background-color: #369861;
    color: white;
}