<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/lib//elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib//elements/dom-if.html">
<link rel="import" href="../../bower_components/polymer/lib//elements/custom-style.html">
<link rel="import" href="/src/login-app/login-app.html">
<link rel="import" href="../../css/styletabla.css">
<link rel="import" href="../../img/LogoBBVA.JPG">
<link rel="import" href="../../img/comedorvistaamplia.jpg">
<link rel="import" href="../../img/menuseptiembre.jpg">
<link rel="import" href="../../img/galeria1.jpg">
<link rel="import" href="../../img/galeria2.jpg">
<link rel="import" href="../../img/galeria3.jpg">
<link rel="import" href="../../img/galeria4.jpg">
<link rel="import" href="../../index.html">



<dom-module id="gestor-bitacora">
    <template>
      <style>
        :host {
          display: block;
        }
        #tablaclte{
            margin: 120px auto;
            width: 900px;
            /*box-shadow: black;*/
        }
        table{
          background-color: rgb(10, 177, 243);
          text-align: left;
          border-collapse: collapse;
          width: 100%;
        }
        thead{
          background-color: #0c0170f8;
          border-bottom: solid 5px black;
          color: white;
        }
        th, td{
          padding: 15px;
        }
        tr:nth-child(even){
          background-color: rgb(51, 129, 245);
        }
        tr:hover td{
          /*background-color: rgb(62, 134, 241);*/
          background-color: orange;
          color: white;
        }
        h1:{
          text-align: left;
        }
        .contenedor{
          width: 90%;
          /*margin: left;*/
          overflow: hidden;
        }
        .contenedor1{
          width: 70%;
          margin: auto;
          margin-top: 20px;
          overflow: hidden;
        }
        ul{
            margin: 0;
            padding: 0;
        }
        /* estilos para encabezados */
        header{
            /*background-color: #254383; */
            width: 100%;
            background-color: #244385;
            color: #fff;
            top: 0;
            padding-top: 5px;
            min-height: 70;
            position: fixed;
            /*border-bottom: 5px solid#1293d4;*/
            border-bottom: 7px solid#01133b;
            border-left: 2px solid#01133b;
            border-right: 2px solid#01133b;
        }

        header a{
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 16px;
            margin: right;
        }

        header li{
            float: left;
            display: inline;
            padding: 0 20px 0 20px;
        }

        header #marca{
            float: left;
        }

        header  h1{
            margin: 0;
        }

        header nav{
            float: right;
            margin-top: 10px;
        }

        header .resaltado{
            color: white;
            font-weight: bold;

        }
        header .actual a{
            color: white;
            font-weight: bold;

        }
        /* resalta al colocar el mouse en el menu o */
        header a:hover {
            color: #ccc;
            font-weight: bold;
        }
        #logo{
          width: 50%;
          /*margin-left: 5px;*/
          padding-top: 0px;
        }
        #menu{
          padding-top: 30px;
          text-align: right;
        }
        /* cabecera con imagen */
        #cabecera{
            min-height: 500px;
            /*width: 100%;
            top: 10vh;

            position: relative;*/

            margin-top: 60px;
            background-color: transparent;
            background: orange;
            background-image: url('/img/comedorvistaamplia.jpg');

            background-size:   1350px 750px;
            background-position: center;
            text-align: center;
            color: #244385;
        }
        #cabecera h1{
            /*top: 150px;*/

            font-size: 65px;
            /*text-shadow: #e8491d 25px 25px 5px
            text-shadow: #1293d4 5px 5px 5px;
            text-shadow: #46ff33 5px 5px 5px;*/
            text-shadow: white  7px 7px 7px;
            text-overflow: ellipsis;
            margin-top: 0px;
            margin-bottom: 0px;

            /* outline: 2px dashed #000099;
            outline-offset: 15px; */

        }
        #cabecera p{
            font-size: 35px;
            /*text-shadow: #1293d4 2px 2px 2px;*/
            text-shadow: white 3px 3px 3px;
        }
        #cabecera1{
            min-height: 100px;
            background-color: transparent;
            /*background-image: url('/home/alumno/polymerdesdenode2ed/comedorvistaamplia.jpg');*/
            background: orange;
            /*background-size:   650px 400px;*/
            background-position: center;
            text-align: center;
            color: #244385;
        }
        #tarjeta{
          width: 7%;
        }
        /* cajas  */
        #cajas{
            margin-top: 20px;
            /*background-color: #ccc;*/
        }

        #cajas .caja{
            float: left;
            /*text-align: center;*/
            width: 50%;
            padding: 10px;
            text-shadow: rgba(1,0,150,0.5) 3px 3px 5px;
        }

        #cajas .caja img{
            width: 290px;
            color: #fff;
            color: #ccc;
        }

      </style>

      <template is="dom-if" if="{{swLogin}}">
        <login-app></login-app>
      </template>

      <template is="dom-if" if="{{swAcceder}}">
          <template is="dom-if" if="{{swBarraMenu}}">
            <header>
              <div class="contenedor">
                  <div id="marca">
                      <img class="" src="/img/LogoBBVA.JPG" alt="" id="logo">
                  </div>
                  <nav>
                      <ul id="barramenu">
                          <li class="actual"><a class="minicio" on-click="inicio" href="#" id="menu">Bitácora</a></li>
                          <!--  <li><a class="csaldo" id="msaldo" on-click="saldo" href="#" id="menu">Saldo</a></li>
                          <li><a on-click="movimientos" href="#" id="menu">Movimientos</a></li>
                          <li><a on-click="recarga" href="#" id="menu">Recarga</a></li>
                          <li><a on-click="menu" href="#" id="menu">Menú</a></li>
                          <li><a on-click="galeria" href="#" id="menu">Galeria</a></li>
                          <li><a on-click="salir" href="#" id="menu">Salir</a></li>-->
                      </ul>
                  </nav>
              </div>
            </header>
          </template>


         <!-- Seccion de Menú - muestra información general-->
         <template is="dom-if" if="{{swCabecera}}">
           <!-- <section id="cabecera">  <div class="contenedor">-->
            <section id="cabecera">
                <div>
                    <br/><br/><br/>
                    <h1>Bienvenidos al Comedor BBVA</h1>
                    <br/><br/>
                    <p>Sistema de Recarga - Monedero Electrónico</p>
                    <br/><br/>
                    <p> {{nombre}} </p>
                    <!--<img class="" src="/img/comedorvistaamplia.jpg" alt="" id="logo" style="size: 750px 500px;">
                    <img class="" src="/img/comedorvistaamplia.jpg" alt="" style="width: 100%;">-->
                </div>
            </section>

          </template>



          <template is="dom-if" if="{{swTarjeta}}">

                            <div class="contenedor1">
                                <div>
                                    <br/><br/><br/><br/>
                                    <a>Usuario:</a>
                                    <input type="user"  value="{{user::input}}" placeholder="Usuario">
                                    <a>Fecha:</a>
                                    <input type="user"  value="{{fecha::input}}" placeholder="Fecha">
                                    <a>Operación:</a>
                                    <!--<input type="user"  value="{{opera::input}}" placeholder="Operación"> -->
                                    <select id="operacion" name="operacion" size="1" on-change="operacion">
                                      <option value="Todos">Todos</option>
                                      <option value="Recarga">Recarga</option>
                                      <option value="Desbloqueo">Desbloqueo</option>
                                      <option value="Genera Token">Genera Token</option>
                                      <option value="Consulta de movimiento">Consulta de movimiento</option>
                                      <option value="Consulta Dashboard">Consulta Dashboard</option>
                                      <option value="Consulta saldo comedor">Consulta saldo comedor</option>
                                      <option value="Consulta cuentas y tarjetas">Consulta cuentas y tarjetas</option>
                                    </select>

                                    <br>
                                    Numero de Login: <span>{{numeroejecucion.login}}</span><br>
                                    Consulta Dashboard: <span>{{numeroejecucion.Consulta_Dashboard}}</span><br>
                                    Consulta cuentas y tarjetas: <span>{{numeroejecucion.Consulta_cuentas_tarjetas}}</span><br>
                                    Consulta saldo comedor: <span>{{numeroejecucion.Consulta_saldo_comedor}}</span><br>
                                    Consulta de movimiento: <span>{{numeroejecucion.Consulta_de_movimiento}}</span><br>
                                    Recarga: <span>{{numeroejecucion.Recarga}}</span><br>
                                    Genera Token: <span>{{numeroejecucion.Genera_Token}}</span><br>
                                    Desbloqueo: <span>{{numeroejecucion.Desbloqueo}}</span><br>
                                </div>
                                <div>
                                    <br/><br/>
                                    <button on-click="cancelar"  class="btn btn-success" style="margin-left: 10%;">Cancelar</button>
                                    <button on-click="movimientos"  class="btn btn-success" style="margin-left: 10%;">Consultar</button>
                                </div>
                            </div>
          </template>

          <template is="dom-if" if="{{swTablaR}}">
                    <section id="tablaclte">
                      <div class="row">
                        <table id="tablarow">
                            <thead>
                                  <tr>
                                    <th>Fecha</th>
                                    <th>Usuario</th>
                                    <th>Operación</th>
                                    <th>Resultado</th>
                                    <th>App</th>
                                    <th>Navegador</th>
                                    <th>Ip</th>
                                  </tr>
                            </thead>
                            <tbody>
                            <template  is="dom-repeat" items="{{cuentas}}">
                              <tr>
                                  <td>
                                    <p>[[item.fecha]]</p>
                                  </td>
                                  <td>
                                    <p>[[item.usuario]]</p>
                                  </td>
                                  <td>
                                    <p>[[item.operacion]]</p>
                                  </td>
                                  <td>
                                    <p>[[item.resultado]]</p>
                                  </td>
                                  <td>
                                    <p>[[item.app]]</p>
                                  </td>
                                  <td>
                                    <p>[[item.navegador]]</p>
                                  </td>
                                  <td>
                                    <p>[[item.ip]]</p>
                                  </td>
                              </tr>
                            </template>
                          </tbody>
                        </table>
                        </div>
                    </section>
                  </template> <!-- Fin Template swTabla para recarga-->







      </template> <!-- Fin Template swAcceder-->
    </template>  <!-- Fin Template principal-->

  <script>
    class gestorBitacora extends Polymer.Element
    {
          static get is() { return 'gestor-bitacora'; }
          static get properties()
          {
            return {
              user:{
              type: String
            },
              password:{
              type: String
            },
              saldo:{
              type: Number
            },
              tdc:{
              type: Number
            },
              fecha:{
              type: Number
            },
            opera:{
              type: String
            },
              ano:{
              type: Number
            },
              mes:{
              type: Number
            },
              cvv:{
              type: Number
            },
              monto:{
              type: Number
            },
              saldoclte:{
              type: Number
            },
              montorecarga:{
              type: Number
            },
              nombre:{
              type: String
            },
              swBarraMenu:{
              type: Boolean,
              value:  true
            },
              swAcceder:{
              type: Boolean,
              value:  true
            },
              swSaldo:{
              type: Boolean,
              value:  false
            },
              swCabecera:{
                type: Boolean,
                value:  true
              },
              swTarjeta:{
                type: Boolean,
                value:  false
              },
              swRecEncab:{
                type: Boolean,
                value:  false
              },
              swaplica:{
                type: Boolean,
                value:  false
              },
              clientes:{
              type: Array,
              notify: true
            },
              userjs:{
              type: Array,
              notify: true
            },
              respuesta:{
              type: Array,
              notify: true
            },
              posclte:{
              type: Array,
              notify: true
            },
              swTabla:{
              type: Boolean,
              value:  false
            },
              swTablaR:{
              type: Boolean,
              value:  false
            },
              swMenu:{
              type: Boolean,
              value:  false
            },
             swRecarga:{
              type: Boolean,
              value:  false
            },
              swGaleria:{
              type: Boolean,
              value:  false
            },
              swHeader:{
              type: Boolean,
              value:  true
              },
              irSaldo:{
              type: Boolean,
              value:  false
              },
              swLogin:{
                type: Boolean,
                value: false
              }
            }
          }
      acceder(){
        console.log('ingresa function acceder')
        this.dispatchEvent(new CustomEvent('regresar', {
          composed: true,
          bubbles: true
        }))

      }
      // se agregan los metodos a ser usados
      incrementar(){
        this.prop2 = this.prop2 + 1;
        //this.prop2 += 1;
        console.log("prop2:" + this.prop2);
        console.log("prop1:" + this.prop1);
      }
      operacion(){
        var l1 = this.shadowRoot.querySelector("#operacion");
        //document.getElementById("operacion");
        console.log("l1 " + l1);
        console.log("l1 " + l1 + " index  " + l1.selectedIndex);
        var l2 = l1.options[l1.selectedIndex].value;
        console.log("l2 " + l2 + " index  " + l1.selectedIndex);
        this.nombre = l2;
        this.opera = l2;
        console.log("this.nombre " + this.nombre);
      }
      movimientos(){
        this.cuentas = null;
        this.numeroejecucion = null;
        console.log("ingreso función movimientos");
        var usuario = this.user.toUpperCase();
        this.user = usuario;
        this.swTabla = true;
        this.swCabecera = false;
        this.swGaleria = false;
        this.swTablaR = true;
        this.swMenu = false;
        this.swSaldo = false;
        this.swRecarga = false;
        var request = new XMLHttpRequest();
        //var url = "http://ec2-18-191-188-92.us-east-2.compute.amazonaws.com:3001/v1/bitacora/MB88874?operacion=Recarga&fecha=2019-10-30";
        if (this.user!= null && this.opera == "Todos") {
          console.log("primer if");
          var url = "http://ec2-18-191-188-92.us-east-2.compute.amazonaws.com:3001/v1/bitacora/" + this.user;
        } if (this.user != null && this.fecha != null && this.opera == "Todos"){
          console.log("2DO if");
            var url = "http://ec2-18-191-188-92.us-east-2.compute.amazonaws.com:3001/v1/bitacora/" + this.user + "?fecha=" + this.fecha;

        }  if (this.user != null && this.fecha != null && this.opera != "Todos"){
          console.log("3ER if");
              var url = "http://ec2-18-191-188-92.us-east-2.compute.amazonaws.com:3001/v1/bitacora/" + this.user + "?fecha=" + this.fecha + "&operacion=" + this.opera;
        }
        
        console.log(" url " + url);
        request.open("GET", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-type", "application/json");
        request.setRequestHeader("access-control-allow-headers", 'Origin, X-Requested-With, Content-Type, Accept');
        request.setRequestHeader("Access-Control-Allow-Origin", '*');
        request.setRequestHeader("Access-Control-Allow-Origin", 'http://ec2-18-218-184-153.us-east-2.compute.amazonaws.com:3001');
        request.withCredentials = true;
        request.send();
        if (request.status == 200) {
            this.respuesta = JSON.parse(request.response);
            this.cuentas = this.respuesta[0];
            this.numeroejecucion = this.respuesta[1];
        } else {
            alert("No se encontraron movimientos");
        }


      }





      inicio(){
        //this.fposicion();
        this.swTarjeta = true;
        this.swCabecera = false;
        this.swTablaR = false;
        this.swTabla = false;
        this.swGaleria = false;
        this.swMenu = false;
        this.swSaldo = false;
        this.swRecarga = false;
        this.user = localStorage.getItem("usuario");
        //this.password = localStorage.getItem("password");
        console.log("gestor acceder - Inicio " + localStorage.getItem("usuario"));
        console.log("user " + localStorage.getItem("usuario"));
        //console.log("pass " + localStorage.getItem("password"));
        console.log("usuario " + this.user + " " + this.password);
      }



    }
    window.customElements.define(gestorBitacora.is, gestorBitacora);
  </script>
</dom-module>
